body {
    font-family: cursive;
	text-align: center;
}

#puzzlearea {
	width: 400px;
	height:400px;
	margin: 0px auto;
	position: relative;
}

#puzzlearea div {
	background-image: url("background.jpg");
	width: 90px;
	height:90px;
	border: 5px black solid;
	font-size: 40pt;
	position: absolute;
}

body, #shufflebutton{
    font-size: 14pt;
}

.changeColor:hover{
	border-color: red;
	color: red;
	cursor: pointer;
}
 
